<div class="main">
    <nav>
        <p>Categories</p>
        <a href="#">
            <p>Data</p>
        </a>
    </nav>
    <article>
        <h2>The Best IoT Sensor App</h2>
    </article>
    <aside>
        <ul>

            <p><strong>Object Detected:</strong>
                <%= obj.value %>
            </p>


            <!-- <p>Time: <span id="time2"><%= obj.updateTime %></span><br /></p> -->

            <br>
            <div class="sensorInfo">
                <p><strong>Sensor Info: Infarred Obsticle avoidnce sensor</strong></p>

                <p>Sensor: <%= obj.sensName %> <br /></p>
                <p>Id: <%= obj.id %> <br /></p>
                <p>Hardware: <%= obj.hardware %> <br /></p>
            </div>
            <!--<p>Location: <%= obj.location %><br /></p>-->

            <p><strong>Writted by: Oliver Hoorweg</strong></p>

        </ul>
    </aside>
</div>